.img-fluid {
    max-width: 100%; /* Ограничивает максимальную ширину */
    height: auto; /* Сохраняет пропорции */
}

.col {
    display: flex;
    justify-content: center; /* Центрирует изображения по горизонтали */
    align-items: center; /* Центрирует изображения по вертикали */
}
